body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.6;
    margin-top: 1px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #496163; 
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); 
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

/* Logo */
.logo img {
    max-width: 230px;
}
.logo img:hover {
    transform: scale(1.1) ; 
}


/* Menú de navegación */
.nav-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    list-style: none;
    margin-left: auto;
    gap: 40px; 
}

.nav-links li {
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}
.nav-links li a {
    text-decoration: none;
    padding: 10px;
    
    color: white;
    border-radius: 10px;
    display: block; 
}

.submenu {
    display: none; 
    position: absolute; 
    left: 0;
    top: 100%;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    list-style-type: none;
    z-index: 999;
}

.submenu li {
    margin-bottom: 5px;
}

.submenu li a {
    background-color: #f1f1f1;
    color: black;
    padding: 10px;
    border-radius: 10px;
    display: block;
}

.submenu li a:hover {
    background-color: #ddd;
}

.nav-links a:hover {
    color: #CEA845; 
}


.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

/* Responsivo*/
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #496163;
        width: 100%;
        text-align: center;
        z-index: 999;
    }

    
    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        padding: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    
    .hamburger {
        display: block;
    }
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .nav-links li a {
        width: 100%; 
        font-size: 18px;
    }

    .submenu {
        position: relative; 
        width: 100%; 
        top: 0;
        margin-top: 5px; 
    }
}
.video{
    
    width: 80%; 
    height: auto; 
}


/*///////*/

@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}



.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin: 20px;
  }

  .map-section, .right-section {
    flex: 1;
    max-width: 600px;
  }

  .map-section {
    text-align: center;
  }

  .map-container {
    position: relative;
    padding-bottom: 56.25%; /* Proporción 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background-color: #f0f0f0;
    margin: 0 auto;
  }

  .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

 

  .photo-box {
    width: 100%;
    height: 300px;
    background-color: #ffffff;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 10px;
  }
.qrgen{
    max-width: 200px; 
    max-height: 200px; 
    width: auto;
    height: auto;
    border-radius: 10px;
}
  .styled-button {
    background:#496163;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    text-decoration: none;
  }

  .styled-button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
    color: #CEA845;
    text-decoration: none;
  }

  .styled-button:active {
    transform: translateY(1px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  }









footer {
    background-color: #496163;
    color: #ffffff;
    font-size: 17px;
    font-family: "Nutmeg", Sans-serif;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.footer-logo img {
    width: 120px; 
}



.footer-bottom {
    margin-top: 20px;
    font-size: 12px;
    font-size: 15px;
}

.social-icon img {
    width: 30px; 
    height: auto; 
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





.fbase{
    background-color: #ffffff;
    width: 98%;
    margin: 0 auto;
}
.contenidos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
        background-color: #f5f5f5;
        gap: 20px;
}
.content-wrapper {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    flex-wrap: wrap; 
}
.map-section {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 650px;
}
.map-container {
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background-color: #f0f0f0;
    margin: 0 auto;
  }

  .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
  
  .map-container iframe {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    border: none;
  }
  .map-container:hover iframe {
    transform: scale(1.05); 
  }
  @media (max-width: 600px) {
    .map-section {
        width: 100%; 
    }
    .image-section{
    width: 100%; 
}
}
  
  
  .text-section {
    text-align: center;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
  }

.text-section {
    color: #000000;
    line-height: 1.5;
    text-align: center;
    font-family: Arial, sans-serif;
   
    
}
.text-section p {
    font-size: 12px;
}
.text-section h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #2c2452; 
    text-align: center;
    margin-right: 500px;
    font-family: Arial, sans-serif;
}




.image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 48%; 
    font-family: Arial, sans-serif;
    margin-left:20px;
}

.campimg {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-editor {
    width: 100%; 
    height: auto; 
    object-fit: contain; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
}
@media (max-width: 768px) {
    .image-editor {
        max-width: 90%; 
    }
}


@media (max-width: 480px) {
    .image-editor {
        max-width: 100%; 
    }
}




.tool-btn img {
    width: 20px;
    height: 20px;
}

.image-preview {
    background-color: #fff;
    border: 2px dashed #e3d8ff;
    border-radius: 10px;
    padding: 10px;
}

.image-preview img {
    max-width: 150px;
    border-radius: 10px;
}

.button-container {
    display: flex;
    width: 200px;
    flex-direction: row; 
    justify-content: space-around; 
    width: 100%; 
    font-family: Arial, sans-serif;
}

.button-container button {
    margin: 10px 0;
    padding: 20px 40px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    border: none; 
    background-color: #496163; 
    color: white; 
    border-radius: 20px; 
    font-size: 19px; 
    transition: background-color 0.3s; 
   
}

.button-container button:hover {
    background-color: #CEA845; 
    text-decoration: none;
}

.message {
    margin-top: 20px;
    font-weight: bold;
    visibility: hidden;
    font-family: Arial, sans-serif;
    visibility: hidden; 
    font-size: 21px; 
    background-color: #ffffff; 
    color: black; 
    padding: 15px 30px; 
    border-radius: 30px; 
    display: inline-block; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    text-align: justify;
    border: 3px solid  #496163; 
}
/*para Foros */

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #1A2D44;
    font-weight: bold;
    margin-bottom: 50px;
}

.contfors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.column img {
    width: 400px;
    height: 400px;
    border-radius: 15px;
}
.column img:hover {
    transform: scale(1.1) ; 
}

.qr-code {
    margin: 15px 0;
}
.qr-code img {
    width: 150px; 
    height: 150px;
}

.links, .text {
    font-size: 16px;
    color: #1A2D44;
    margin: 5px 0;
}

.divider {
    width: 1px;
    background-color: #496163;
    height: 750px;
    margin: 0 30px;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .divider {
        display: none;
    }
}

@media (max-width: 600px) {
    .column {
        padding: 10px; 
    }

    .column img {
        max-width: 100%;  
        height: auto;     
    }

    .qr-code img {
        width: 80px;  
    }

    .column a {
        font-size: 14px; 
    }
}



#contador {
    display: flex;
    gap: 20px;
    text-align: center;
    border: 1px solid  #496163;
    padding: 15px;
    border-radius: 38px;
    color: #000000;
    align-items: center;
    gap: 20px;
    align-items:  baseline;
    justify-content: center;
    width: 100vh;
    margin: inherit;
    transition: transform 0.2s ease;
}
#contador:hover {
    transform: translateY(-10px);  
}

#contador div {
    font-size: 1.5rem;
    text-align: center;
    padding: 3px;
    
}

#contador span {
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
}

.separador {
    font-size: 2.5rem;  
    font-weight: bold;
    color: #496163; 
    line-height: 1;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    #contador {
        font-size: 0.8rem; 
        max-width: 350px; 
    }
    
    #contador div {
        font-size: 0.8rem; 
    }

    #contador span {
        font-size: 1rem; 
    }
    
    .separador {
        font-size: 1rem; 
    }
}

@media (max-width: 400px) {
    #contador {
        font-size: 0.8rem; 
        max-width: 350px; 
    }
    
    #contador div {
        font-size: 0.8rem; 
    }

    #contador span {
        font-size: 1rem; 
    }
    
    .separador {
        font-size: 1rem; 
    }
}
@media (max-width: 1024px) and (min-width: 600px) {
    #contador {
        font-size: 1.5rem; 
        max-width: 600px; 
    }

    #contador div {
        font-size: 1.2rem; 
    }

    #contador span {
        font-size: 1.8rem; 
    }
    
    .separador {
        font-size: 1.5rem; 
    }
}


.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.mySlides {
    display: none;
    width: 100%;
}

/*  */
.text {
    color: #f2f2f2;
    font-size: 24px;
    font-weight: bold;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

/*  */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}


.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from { opacity: 0.4; } 
    to { opacity: 1; }
}


.fullscreen-image {
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

.fullscreen-image img {
    width: 100%;
    height: auto; 
    object-fit: cover; 
}





@media (max-width: 768px) {
    .fullscreen-image {
        height: auto; 
    }

    .fullscreen-image img {
        width: 100%; 
        height: auto; 
    }
}
@media (min-width: 1200px) {
    .fullscreen-image img {
        object-fit: contain; 
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .fullscreen-image img {
        object-fit: contain;
    }

    
}





